<div class="list_product">
    <ul>
        <li>
            <div class="img_product">
                <img src="/static/img/200x200.jpeg" alt="Продукт" width="80px" height="80px">
            </div>

            <div class="title">
                <p>Палмолив нежный гель</p>
            </div>

            <div class="price">
                <p>100 р</p>
            </div>
            
            <div class="count">
                <input type="number" max="99" min="1" value="1">
            </div>

            <div class="delete">
                <button>
                    <img src="/static/img/X.svg" alt="X">
                </button>
            </div>
        </li>

        <li>
            <div class="img_product">
                <img src="/static/img/200x200.jpeg" alt="Продукт" width="80px" height="80px">
            </div>

            <div class="title">
                <p>Палмолив нежный гель</p>
            </div>

            <div class="price">
                <p>100 р</p>
            </div>
            
            <div class="count">
                <input type="number" max="99" min="1" value="1">
            </div>

            <div class="delete">
                <button>
                    <img src="/static/img/X.svg" alt="X">
                </button>
            </div>
        </li>

        <li>
            <div class="img_product">
                <img src="/static/img/200x200.jpeg" alt="Продукт" width="80px" height="80px">
            </div>

            <div class="title">
                <p>Палмолив нежный гель</p>
            </div>

            <div class="price">
                <p>100 р</p>
            </div>
            
            <div class="count">
                <input type="number" max="99" min="1" value="1">
            </div>

            <div class="delete">
                <button>
                    <img src="/static/img/X.svg" alt="X">
                </button>
            </div>
        </li>

        <li>
            <div class="img_product">
                <img src="/static/img/200x200.jpeg" alt="Продукт" width="80px" height="80px">
            </div>

            <div class="title">
                <p>Палмолив нежный гель гель гель</p>
            </div>

            <div class="price">
                <p>100 р</p>
            </div>
            
            <div class="count">
                <input type="number" max="99" min="1" value="1">
            </div>

            <div class="delete">
                <button>
                    <img src="/static/img/X.svg" alt="X">
                </button>
            </div>
        </li>

        <li>
            <div class="img_product">
                <img src="/static/img/200x200.jpeg" alt="Продукт" width="80px" height="80px">
            </div>

            <div class="title">
                <p>Палмолив нежный гель гель гель</p>
            </div>

            <div class="price">
                <p>100 р</p>
            </div>
            
            <div class="count">
                <input type="number" max="99" min="1" value="1">
            </div>

            <div class="delete">
                <button>
                    <img src="/static/img/X.svg" alt="X">
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <button>
            Оформить заказ
        </button>
    </div>
</div>