:root {
    --border-table: 1px solid black;
    --margin-table: 10px;
    --table-width: 600px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
}

.calendar table {
    border-collapse: collapse;
    margin: var(--margin-table);
}

.calendar tr td{
    border: var(--border-table);
}

.calendar tr td p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar tr td:first-child{
    width: 90px;
}

.calendar tr td:last-child{
    width: var(--table-width);
}

.calendar tr td:first-child p {
    min-height: 50px;
}

/* paid not_paid */
.calendar .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 50px;
}

.calendar .card.paid {
    background-color: chartreuse;
}

.calendar .card.not_paid {
    background-color: rgb(255, 251, 36);
}

@media screen and (max-width: 700px) {
    .calendar tbody {
        width: calc(100% - 2 * var(--margin-table));
    }

    .calendar table {
        width: calc(100% - 2 * var(--margin-table));
    }

    .calendar tr td:last-child {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .calendar .card {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .calendar .card .surname{
        grid-column: 1;
        grid-row: 2;
    }
}

@media screen and (max-width: 570px) {
    .calendar .card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .calendar .card .phone {
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 440px) {
    :root {
        --calendar-margin-card-item: 5px
    }
    .calendar .card {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, 1fr);
    }

    .calendar .card p:not(:last-child) {
        margin-bottom: var(--calendar-margin-card-item);
    }

    .calendar .card p:first-child {
        margin-top: var(--calendar-margin-card-item);
    }

    .calendar .card p:last-child {
        display: flex;
        align-items: flex-start;
    }

    .calendar .card .service{
        grid-column: 1;
        grid-row: 3;
    }

    .calendar .card .phone {
        grid-column: 1;
        grid-row: 4;
    }
}

.visitdata{
    margin-top: 5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.visit-text{
    font-size: 25px;
}