<section class="about_product hide">
    <div class="card">
        <div class="card__image">
            <img src="" alt="product">
        </div>

        <div class="card__title"></div>

        <div class="card__price"></div>


    </div>
    
    <div class="description">
        <p>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание
        </p>
    </div>

    <div>
        {% with value=1 minLength="1" maxLength="2" className="input_count" size="2" %}
        {% include "../components/number_input.html" %}
        {% endwith %}
        
        {% include "../components/my_button.html" %}
    </div>

</section>