<section id="service">

<div class="service_header">
        <h2>Услуги</h2>
    </div>

    <div class="wrap">
        <ul class="service_content">
            <li>
                <input data-dd-theme="calendar" id="date-input" data-dd-lang="ru" data-dd-modal="true" data-dd-large="true" type="text">
                <script>$('#date-input').dateDropper();</script>
            </li>
            <li>
                <!--Место для записи на услугу-->
                <p>content</p>
                <p>content</p>
                <p>content</p>
                <p>content</p>

            </li>
        </ul>
    </div>
</section>