<!-- вводит пользователь: номер, адрес, фамилия, имя, тип доставки -->
<!-- программа: id, время доставки -->

<section class="shopping_window">
    <h2>Оформеление заказа</h2>
    <div class="list">
        <ul>
            <li>
                <div class="img_product">
                    <img width="80" height="80" src="./static/img/200x200.jpeg" alt="Фото продукта">
                </div>
                <div class="title">
                    <p>Палмолив нежный гель</p>
                </div>
                <div class="price">
                    <p>Цена: 100 &#8381;</p>
                </div>
                <div class="count">
                    <p>Количество: 10</p>
                </div>
                <div class="amount">
                    <p>Сумма: 1000 &#8381;</p>
                </div>
            </li>
        </ul>
        <div class="total_amount"></div>
    </div>

    <div class="data_fields">

        <div class="field number">
            <p>Номер телефона:</p>
            <span class="prefix">+7</span>
            {% with type="text" placeholder="Номер телефона" minlength="10" maxlength="10" %}
            {% include "../components/my_input.html" %}
            {% endwith %}
        </div>

        <div class="address">
            <div class="field city">
                <p>Город:</p>
                <div class="cityYakutsk">
                    <input type="checkbox" name="isCityYakutsk" id="isCityYakutsk">
                    <label for="isCityYakutsk">Якутск</label>
                </div>

                <p class="additionally">или</p>
                
                <div class="additionally">
                    {% with type="text" placeholder="Город" %}
                    {% include "../components/my_input.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="field additionally">
                <p>Улица:</p>
                {% with type="text" placeholder="Улица" %}
                {% include "../components/my_input.html" %}
                {% endwith %}
            </div>

            <div class="field additionally">
                <p>Номер дома:</p>
                {% with type="text" placeholder="Дом" %}
                {% include "../components/my_input.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="field">
            <p>Фамилия:</p>
            {% with type="text" placeholder="Фамилия" %}
            {% include "../components/my_input.html" %}
            {% endwith %}
        </div>

        <div class="field">
            <p>Имя:</p>
            {% with type="text" placeholder="Имя" %}
            {% include "../components/my_input.html" %}
            {% endwith %}
        </div>

        <div class="field">
            <p>Тип доставки:</p>
            {% with type="text" placeholder="Тип доставки" %}
            {% include "../components/my_input.html" %}
            {% endwith %}
        </div>

        <button class="buy">Купить</button>
    </div>
</section>