#footer_site{
    width: 100%;
    text-align: center;
    background: radial-gradient(#fff 1%, transparent 10%) 0 0, radial-gradient(rgba(0,0,0,.1) 1%, transparent 1%) 50px 50px;
    background-color: #000;
    background-size: 40px 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer_content{
    color: white;
}

.social_media{
    margin-left: 80%;
}

.widget{
    display: flex;
    flex-direction: row;
}

.line{
    margin-right: 20%;
    background-color: white;
    height: 80px;
    width: 5px;
    border: none;
}

.content{
    width: 0;
    overflow: hidden;
    color: white;
    margin-top: 8%;
    -webkit-transition: width 1s ease-out 0s;
    -moz-transition: width 1s ease-out 0s;
    -o-transition: width 1s ease-out 0s;
    transition: width 1s ease-out 0s;
}

.content.show{
    width: 100px;
}