header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
}

header .wrap_header {
    padding-top: 15px;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .menu li{
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .menu li:hover{
    background-color: #fffccf;
    cursor: pointer;
}

header .menu li.active {
    background-color: #fffee8;
}

header .basket {
    width: var(--basket-width);
    cursor: pointer;
}

header .dropdown_content{
    margin-top: 10px;
    display: none;
    position: absolute;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    background-color: #fefefe;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a:hover{
    background-color: #fffee8;
}
.dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown{
    position: relative;
}

.wrap_basket {
    z-index: -1;
    justify-content: flex-end;
    display: flex;
    -webkit-align-items: flex-end;
    position: fixed;
    top: 113px
}

#count_productes {
    background-color: red;
    color: white;
    position: fixed;
    padding: 3px;
    font-size: 11pt;
    border-radius: 20px;
}

#count_productes:hover{
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    header {
        bottom: 0;
        top: auto;
    }

    header h1 {
        display: none;
    }

    header .wrap_header {
        padding-top: 0;
    }
}