main {
    margin-top: calc(-1 * var(--basket-width) + 5);
}

main .hide {
    display: none;
}

.card__title{
    color: #222;
    font-family: 'Lucida Grande';
    font-size: 18px;
    margin-bottom: 10px;
}

.card__price{
    font-size: 13px;
    color: #F72464;
}

.row{
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

.row .card:not(:last-child) {
    margin-right: 10px;
}

.row .card:hover {
    cursor: pointer;
}

.row::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 7px;
}

.row::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    padding: 25px;
}

@media screen and (max-width: 449px) {
    section {
        padding: 5px;
    } 
}