main {
    margin-top: calc(-1 * var(--basket-width) + 5);
}

main .hide_without_articles {
    display: none;
}

main .hide {
    display: none;
}

main .shop .row_wrap.hide {
    display: none;
}

.card__title{
    color: #222;
    font-family: 'Lucida Grande';
    font-size: 18px;
    margin-bottom: 10px;
}

.card__price{
    color: grey;
    font-size: 13px;
}

.card__new_price {
    font-size: 1.1rem;
}

.card__discount{
    font-size: 1rem;
    color: #F72464;
}

.shop .row_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop .row_wrap:not(:first-child) {
    margin-top: 10px;
}

:root {
    --transition-background-color-row-button: background-color 0.6s;
}

.shop .row_wrap button {
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: var(--transition-background-color-row-button);
    -moz-transition: var(--transition-background-color-row-button);
    -o-transition: var(--transition-background-color-row-button);
    transition: var(--transition-background-color-row-button);
}

.shop .row_wrap button:hover {
    background-color: #ffdddd;
}

.rows {
    margin-top: 60px;
}

.shop .categories, .shop .lines{
    margin-top: 60px;
}

:root {
    --row-padding: 7px;
}

.row{
    display: flex;
    justify-content: start;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: var(--row-padding) 0;
}

.row::after {
    content: ".";
    width: 0;
    visibility: hidden;
}

.row .card:hover {
    cursor: pointer;
}

.row::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 7px;
}

.row::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    padding: 25px;    
    padding-bottom: 100px;
}

.nothing_found {
    font-size: 20pt;
    margin: 60px 0 20px 0;
}

.no_products {
    padding: 5px;
    font-size: 1.2rem;
    color: rgb(255, 0, 0);
    text-align: center;
}

.shop .row .card__image {
    width: 200px;
}


main .flex_control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

main .flex_control li {
    border: 2px solid #ffdddd;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 8px;
}

main .flex_control li span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

main .flex_control li.active span{
    background-color: #ffdddd;
}

@media screen and (max-width: 449px) {
    section {
        padding: 5px;
        padding-bottom: 30px;
    } 
}

@media screen and (max-width: 400px) {
    .shop .row_wrap{
        position: relative;
    }

    .shop .row_wrap button {
        position: absolute;
        z-index: 1;
    }

    .shop .row_wrap .back {
        left: 10px;
    }

    .shop .row_wrap .forward {
        right: 10px;
    }
}