html {
    font-size: 0.875em;
}

@font-face {
	font-family: "GothamProRMedium";
    src: url("/static/fonts/GothamProRMedium.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/GothamProRMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("/static/fonts/GothamProRMedium.svg") format("svg"), /* Legacy iOS */
        url("/static/fonts/GothamProRMedium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/static/fonts/GothamProRMedium.woff") format("woff"), /* Modern Browsers */
        url("/static/fonts/GothamProRMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-weight: 400;
    line-height: 1.45;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

@media screen and (max-width: 405px) {
    html {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 329px) {
    html {
        font-size: 0.7em;
    }
}