<!-- content = {
    'title': title,
    'visit_time': visit.time,
    'visit_date': visit.date,
    'service_name': service.name,
    'visit_price': visit.price,
    'all_client_visits': all_client_visits_list,
    "client's_phone": client.phone,
    "client's_sale": (client.sale - 1) * 100,
    "client's_name": client.first_name,
    "client's_surname": client.last_name,
    "client's_email": client.email
} -->

<div class="about_client">
    <div class="about_client_wrap">
        <p>Имя: <span class="name"></span></p>
        <p>Фамилия: <span class="surname"></span></p>
        <p>Номер телефона: +7 <span class="phone"></span></p>
        <p>Email: <span class="email"></span></p>
        <p>Скидка клиента <span class="sale"></span></p>
    </div>
</div>