<!-- content = {
    'title': title,
    'visit_time': visit.time,
    'visit_date': visit.date,
    'service_name': service.name,
    'visit_price': visit.price,
    'all_client_visits': all_client_visits_list,
    "client's_phone": client.phone,
    "client's_sale": (client.sale - 1) * 100,
    "client's_name": client.first_name,
    "client's_surname": client.last_name,
    "client's_email": client.email
} -->

<div class="table_visits">
    <table>
        <tbody>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Услуга</th>
            </tr>
        </tbody>
    </table>
</div>