{% extends 'authapp/base.html' %}


{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <br>
        <input class="log_in" type="submit" value="Войти">
    </form>
    <button class="btnreg">
        <a href="{% url 'auth:register' %}" class="" style="font-size: 20px">
            Зарегистрироваться
        </a>
    </button>
{% endblock %}
