:root {
    --width-message: 120px;
    --height-message: 90px;
}

.message {
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 5;
}

.message.success {
    background-color: rgb(144, 255, 144);
    border: 5px solid rgb(10, 151, 10);
    color: rgb(10, 151, 10);
}

.message.warning {
    background-color: rgb(231, 255, 144);
    border: 5px solid rgb(142, 151, 10);
    color: rgb(142, 151, 10);
}

.message.error {
    background-color: rgb(255, 144, 144);
    border: 5px solid rgb(151, 10, 10);
    color: rgb(151, 10, 10);
}