.my_input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    margin: 1px;
    font-size: 1.2rem;
    padding: 2px 4px;
}

.my_input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.my_input:focus{
    border-color: black;
    color: black;
}

.my_input:focus::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.my_input.error{
    margin: 0;
    border-width: 2px;
    border-color: red;
    background-color: rgb(253, 166, 166);
}