.number_input {
    display: flex;
}

.number_input input {
    text-align: center;
    margin: 0 5px;
}

.number_input button {
    font-weight: 600;
    width: 20px;
    border-radius: 100%;
    color: white;
    background-color: rgb(121, 121, 121);
    border: none;
    cursor: pointer;
}

.number_input .plus {
    padding: 3px 5px 1px 5px;
}

.number_input .minus {
    padding: 2.5px 5px 1.5px 5px;
}