<section class="about_product">
    <div class="card">
        <div class="card__image">
            <img src="/static/img/200x200.jpeg" alt="product">
        </div>

        <div class="card__title">Палмолив нежный гель</div>

        <div class="card__price">100 р</div>


    </div>
    
    <div class="description">
        <p>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание<br>
            описание
        </p>
    </div>

    <div>
        {% with value=1 type="number" min="1" %}
        {% include "components/my_input.html" %}
        {% endwith %}
    </div>

    <div>
        {% include "components/my_button.html" %}
    </div>

</section>