<footer id="footer_site">
    <div class="social_media">
        <div class="widget">
            <div class="lines"><button class="line"></button></div>
            <div class="content">
                <div class="widget">
                    <span>Инстаграм</span>
                </div>

                 <div class="widget">
                    <span>Вк</span>
                </div>
            </div>
        </div>
    </div>
     <div class="footer_content">
                <span>&copy; 2020 | Cosmetic center</span>

     </div>

</footer>