<footer id="footer_site">
    <div class="social_media">
        <div class="widget">
            <div class="text">
                <span>Social Media</span>
            </div>
            <div class="lines"><button class="line"></button></div>
            <div class="content" style="margin-top: 5%">
                {% load static %}
                <div class="widget" style="margin-left: 5px">
                    <a href="https://www.instagram.com/medproffi_market/"><img src="{% static 'img/instagram-sketched.svg' %}" width="15px" height="15px" alt="instlogo"></a>
                    <span style="margin-left: 10px">  medproffi_market</span>
                </div>
                 <div class="widget" style="margin-left: 5px">
                    <a href="https://l.instagram.com/?u=http%3A%2F%2Fwa.me%2F79141105596&e=ATOuWZaDcRWC-OLjV9N2ZaaeF5EAsM_7xiubVCFWwbe7RNSy8siasvpSq_7tmR4fy-dibFVN1EBkTM7G&s=1"><img src="{% static 'img/whatsapp.svg' %}" width="15px" height="15px" alt="whatslogo"></a>
                    <span style="margin-left: 10px">  Whatsapp</span>
                </div>
                <div class="widget" style="margin-left: 5px">
                    <a href="https://www.instagram.com/kovaleva_toria/"><img src="{% static 'img/instagram-sketched.svg' %}" width="15px" height="15px" alt="instlogo"></a>
                    <span style="margin-left: 10px">  kovaleva_toria</span>
                </div>
            </div>
        </div>
    </div>
     <div class="footer_content">
                <span>&copy; 2020 | Cosmetic center</span>

     </div>

</footer>