<footer id="footer_site" style="background-color: darkgrey">
    <div class="footer_header" style="text-align: center">
        <h2>Услуги</h2>
    </div>

    <div class="wrap">
        <ul class="footer_content">

            <li>
            <!--Место для календаря-->
            </li>

            <li>
                <!--Место для записи на услугу-->
                <p>content</p>
                <p>content</p>
                <p>content</p>
                <p>content</p>

            </li>
        </ul>

            <div class="footer_lower">
                <span>&copy; 2020</span>
            </div>
    </div>

</footer>