<header>
    <div class="wrap">
        <div class="wrap_header">
            <h1>Cosmetic Center</h1>

            <ul class="menu">
                <li data-path = "SHOP">Магазин</li>
                <li data-path = "SERVICES">Услуги</li>
                <li data-path = "SHIPPING_AND_PLAYMENT">Доставка и оплата</li>
                <li data-path = "CONTACTS">Контакты</li>
            </ul>
        </div>

        <div class="wrap_basket">
            <p id="count_productes">0</p>
            <img src="./static/img/basket.svg" width="auto" height="auto" alt="Корзина" class="basket">
        </div>
    </div>
</header>