<main>
    <div class="wrap">
        <section class="shop">
            {% include "components/loupe.html" %}

            <div class="row pop_up_element">
            </div>

            <div class="row pop_up_element">
            </div>

            <div class="row pop_up_element">
            </div>

            <script>
                const rowsInShop = document.querySelectorAll("main .shop .row")

                //создаёт карточку
                const createCardInShop = (id, brand, name, price, image) => {
                    const divCard = document.createElement("div")
                    divCard.dataset.id = id
                    divCard.dataset.brand = brand
                    divCard.dataset.name = name
                    divCard.classList.add("card")

                    const divCardImage = document.createElement("div")
                    divCardImage.classList.add("card__image")

                    const img = document.createElement("img")
                    img.src = image
                    img.width = 200
                    img.height = 200
                    img.alt = "product"

                    divCardImage.appendChild(img)

                    divCard.appendChild(divCardImage)

                    const divCardTitle = document.createElement("div")
                    divCardTitle.classList.add("card__title")
                    divCardTitle.textContent = name

                    divCard.appendChild(divCardTitle)

                    const divCardPrice = document.createElement("div")
                    divCardPrice.classList.add("card__price")
                    divCardPrice.innerHTML = price + " &#8381;"

                    divCard.appendChild(divCardPrice)

                    return divCard
                }

                //создаём карточки товаров в магазине
                const countInRow = Math.max(10, arrayProducts.length / 3)

                arrayProducts.forEach((p, i) => {
                    let index = Math.floor( i / countInRow)
                    rowsInShop[index].appendChild(
                        createCardInShop(p.id, p.brand, p.name, p.price, p.image)
                    )
                });
            </script>

            <div class="nothing_found hide">Ничего не найдено</div>
        </section>

        {% include "main/about_product.html" %}
        {% include "main/shopping_window.html" %}

        {% include "main/shipping_and_playment.html" %}

    </div>

    {% include "main/service.html" %}
</main>