<main>
    <div class="wrap">
        <section class="shop">
            {% include "components/loupe.html" %}

            <div class="row">
                {% for product in products  %}
                    {% with id=product.id image=product.image name=product.name price=product.price brand=product.brand %}
                        {% include "components/column_card.html" %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="row">
            </div>

            <div class="row">
            </div>
        </section>

        {% include "main/about_product.html" %}
        {% include "main/shopping_window.html" %}

        {% include "main/shipping_and_playment.html" %}
        {% include "main/contacts.html" %}

    </div>

    {% include "main/service.html" %}
</main>