<div class="search_wrap">
    <div class="search">
            <input type="text" name="search_input" class="search_input">
            <button class="btnsearch" type="button"></button>
        <script type="text/javascript">
            $(".btnsearch").on("click", function () {
                        $(".search_input").toggleClass("inclicked");
                        $(".btnsearch").toggleClass("close");
        });
        </script>
        {% load static %}
{#        <img src="{% static 'img/loupe.svg' %}" alt="loupe">#}
    </div>
</div>