{% for name in service_names %}
<div class="option">
    <input
            type="radio"
            class="radio"
            id="cleaning"
            name="category"
    />
    <label for="cleaning">{{ name }}</label>
</div>
{% endfor %}

<!-- <div class="option">
    <input
            type="radio"
            class="radio"
            id="nails"
            name="category"
    />
    <label for="nails">Ногти</label>
</div>
<div class="option">
    <input
            type="radio"
            class="radio"
            id="botox"
            name="category"
    />
    <label for="botox">Ботокс</label>
</div>

<div class="option">
    <input
            type="radio"
            class="radio"
            id="cleaning"
            name="category"
    />
    <label for="cleaning">Чистка лица</label>
</div>
<div class="option">
    <input
            type="radio"
            class="radio"
            id="nails"
            name="category"
    />
    <label for="nails">Ногти</label>
</div>
<div class="option">
    <input
            type="radio"
            class="radio"
            id="botox"
            name="category"
    />
    <label for="botox">Ботокс</label>
</div> -->