<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Center</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'css/forget_password/header.css' %}">
    <link href="{% static 'css/personal_data.css' %}" rel="stylesheet">
</head>
<body>
    {% include "forget_password/header.html" %}

    <main>
        <h2>Согласие на обработку персональных данных</h2>
        <p>В соответсвии со статьёй 9 Федерального закона от 27 июля 2006 года №152-Ф3 "О персональных данных" <b>даю согласие
            ИП Косметик Центр,</b> расположенному по адресу: 67000, г.Якутск, ул.Пояркова 12, на автоматизированную, а также
            без использвания средств автоматизации обработку моих персональных данных, а именно совершение действий, предусмотренных
            пунктом 3 части первой статьи 3 Федерального закона от 27 июля 2006 года №152-Ф3 "О персональных данных",
            со сведениеми о фактах, событиях и обстоятельствах моей жизни и здоровья, представленных в ИП Косметик Центр.
            Настоящее согласие действует со дня его подписания до дня отзыва в письменной форме.
        </p>
    </main>
</body>
</html>